@model IEnumerable<AppProductImages.Models.ProductItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Список товарів</h1>

<p>
    <a asp-action="Create">Додати</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @foreach (var img in item.Images)
                    {
                        <img src="@img.Path" width="150" class="mx-2">
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fas fa-edit fa-lg"></i>
                    </a>
                    <div class="mx-auto my-auto" style="cursor: pointer">
                        <span class="text-danger deleteitem" data-element="@item.Id"><i class="fas fa-trash-alt fa-lg"></i></span>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/axios/axios.min.js"></script>
    <script>
        $(function () {
            $(".deleteitem").on("click", function (e) {
                var id = $(e.target).closest("span").attr("data-element");
                axios.post(`/Home/Delete/${id}`)
                    .then(result => {
                        $(e.target).closest("tr").remove();
                    });
            });
        });
    </script>

}
